.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;

  @extend %list;
}

.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $secondary-text-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms $timing-function;

  @extend %link;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
