.main-nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    justify-content: space-between;
  }
}

.menu-button {
  display: inline-flex;
  padding: 10px 0 10px 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}
