.mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  height: 100vh;
  width: 100vw;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: $primary-white-color;

  transform: translateX(100%);
  transition: transform 250ms $timing-function;

  &.is-open {
    transform: translateX(0);
  }
}

.menu-toggle {
  @include centeredFlex();

  padding: 10px 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-toggle__icon {
  transition: fill 250ms $timing-function;

  .menu-toggle:hover &,
  .menu-toggle:focus & {
    fill: $accent-color;
  }
}

.mobile-container .menu-toggle {
  position: absolute;
  top: 0;
  right: 15px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
}

.mobile-site-nav {
  @extend %list;
}

.mobile-site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-site-nav__link {
  @extend %link;

  display: inline-block;

  @include font(500, 40px, 1.18, 0.02em);
  color: currentColor;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current {
    color: $accent-color;
  }
}

.mobile-auth-nav {
  @extend %list;

  margin-bottom: 64px;
}

.mobile-auth-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-auth-nav__link {
  @extend %link;

  display: inline-block;

  @include font(500, 24px, 1.17, 0.02em);
  color: $secondary-text-color;

  transition: transform 250ms $timing-function, color 250ms $timing-function;

  &:hover,
  &:focus {
    transform: scale(1.1);
    color: $accent-color;
  }
}

.mobile-social-nav {
  display: none;

  @extend %list;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: -5px;
  }

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    @include centeredFlex($jc: flex-start);
  }
}

.mobile-social-nav::before {
  display: none;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;

    width: 1px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.2);

    transform: translate(-50%, -50%);
  }
}

.mobile-social-nav::after {
  display: none;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;

    width: 100%;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);

    transform: translate(-50%, -50%);
  }
}

.mobile-social-nav__item {
  @media screen and (min-width: 320px) and (max-width: 479px) {
    flex-basis: calc((100% - 4 * 5px) / 2);
    margin: 5px;
  }
}

.mobile-social-nav__item:not(:last-child) {
  @media screen and (min-width: $mobile) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-social-nav__link {
  @extend %link;

  display: inline-block;

  @include font(500, 18px, 1.2, 0.02em);
  color: $accent-color;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $secondary-accent-color;
  }
}
