$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$accent-color-hero-btn: #1976d2;
$secondary-accent-color: #1976d2;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$hero-bg-color: #2f303a;
$footer-bg-color: #2f303a;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$button-bg-color: #f5f4fa;
$card-set-gap: 30px;
$social-link-color: #afb1b8;
$description-bg-color: rgba(47, 48, 58, 0.8);
$accent-bg-overlay-color: rgba(33, 150, 243, 0.9);
$page-header-border-color: #ececec;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
